@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}
input[type=text] {

    padding: 12px 20px;
    margin: 9px 0;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 40%;
    height: 20%;
    border: 1px solid #ffffff;
}

input[type=text]:hover {
    border: 1px solid rgb(0, 0, 0);
    transition: 6s;
}

